{% extends 'base.html' %}

{% block content %}
    <h3></br>This is Gurkan Dealership login page.</h3>

    
    <!-- Login form -->
    <form action="{% url 'djangoapp:login' %}" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="form-group"> 
              <label for="username"><b>Username</b></label>
              <input id="username" class = "form-control" type="text"name="username" required> 
              <label for="psw"><b>Password</b></label>
              <input id="psw" class = "form-control" type="password" name="psw" required> 
            </div>
            {% if message %}
              <div class="alert alert-warning"> 
                {{ message }}
              </div>
            {% endif %}
            <button class="btn btn-primary" type="submit">Login</button> 
        </div>
    </form>

{% endblock %}